<ion-tabs class="tabs-light tabs-icon-top" id="tabs">
    <!--选项卡-->
    <ion-tab title="首页" ui-sref="tabs.home"
             icon-on="ion-android-home orange" icon-off="ion-android-home">
        <ion-nav-view name="tab-home"></ion-nav-view><!--选项卡切换页面-->
    </ion-tab>
    <ion-tab title="厨房" ui-sref="tabs.kitchen"
             icon-on="ion-android-restaurant orange" icon-off="ion-android-restaurant">
        <ion-nav-view  name="tab-kitchen"></ion-nav-view>
    </ion-tab>
    <ion-tab title="商店" ui-sref="tabs.shop"
             icon-on="ion-android-cart orange" icon-off="ion-android-cart">
        <ion-nav-view name="tab-shop"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" ui-sref="tabs.register"
             icon-on="icon ion-android-person orange" icon-off="icon ion-android-person">
        <ion-nav-view name="tab-register"></ion-nav-view>
    </ion-tab>
   <!-- <ion-tab title="我的" ui-sref="tabs.mypage"
             icon-on="icon ion-android-person orange" icon-off="icon ion-android-person">
        <ion-nav-view name="tab-mypage"></ion-nav-view>
    </ion-tab>-->
</ion-tabs>
