<ion-view id="ordingDetail" title="现在付款">
    <ion-content>
        <p>请输入您的详细信息，我们将尽快发货!</p>
        <form name="ordingDForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">收货人:</span>
                    <input type="text" ng-model="ording.name" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">收货地址：</span>
                    <input type="text" placeholder="省份：" ng-model="ording.state" required>
                    <input type="text" placeholder="城市：" ng-model="ording.city" required>
                    <input type="text" placeholder="街道地址：" ng-model="ording.street" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">邮政编码：</span>
                    <input type="number" required  ng-model="ording.zip">
                </label>
                <ion-list>
                    <ion-checkbox ng-model="ording.red">包装成礼物</ion-checkbox>
                </ion-list>
            </div>
        </form>
        <div class="row text-center">
            <div class="col">
                <button class="button orange-bg" ui-sref="tabs.ording">
                   修改订单
                </button>
            </div>
            <div class="col">
                <button class="button button-positive" ui-sref="tabs.thank"
                        ng-disabled="ordingDForm.$invalid">完成订单</button>
            </div>
        </div>
    </ion-content>
</ion-view>